<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<div>
    <form th:action="@{/admin/add}" method="post">
        <input type="text" name="username" placeholder="Enter a username">
        <input type="password" name="password" placeholder="Enter a password">
        <input type="text" name="email" placeholder="Enter an E-Mail">
        <ul>
            <li th:each="role : ${roles}">
                <input type="checkbox" name="roles" th:value="${role}"/>
                <label th:text="${role}">Role name</label>
            </li>
        </ul>
        <button type="submit">Add</button>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
