<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div>
    <form th:action="@{/admin/edit/{username}(username=${username})}" method="post">
        <input type="text" name="id" value="Id" th:value="${user.getId()}" readonly>
        <input type="text" name="newUsername" value="Username" th:value="${user.getUsername()}">
        <input type="text" name="newPassword" value="Password" th:value="${user.getPassword()}">
        <input type="text" name="newEmail" value="E-Mail" th:value="${user.getEmail()}">
        <ul>
            <li th:each="role : ${roles}">
                <input type="checkbox" name="roles" th:value="${role}"/>
                <label th:text="${role}">Role name</label>
            </li>
        </ul>
        <button type="submit">Edit</button>
    </form>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
