<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>role</th>
        </tr>
        <tr th:each="usr : ${users}">
            <td th:text="${usr.getId()}">Id</td>
            <td th:text="${usr.getUsername()}">username</td>
            <td th:text="${usr.getPassword()}">password</td>
            <td th:text="${usr.getEmail()}">email</td>
            <td th:each="roles : ${usr.getRoles()}"
                th:text="${roles.name()}">
            </td>
        </tr>
    </table>
</div>
<div>
    <a href="/admin">Admin page</a>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
